<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">All Chefs</h1>
    <hr />
    <% @chefs.each do |chef| %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <section class="chef-info text-center">
            <%= gravatar_for chef, size: 240 %>
            <h3><strong><%= link_to chef.name, chef %></strong></h3>
          </section>
        </div>
      </div>
      <hr />
    <% end %>
    
  </div>
</div>

<div class="text-center">
  <strong><%= will_paginate %></strong>
</div>
