<%= render 'errors' %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Edit Recipe</h1>
    <hr />
    <div class="well">
      <%= render 'form' %>
    </div>
  </div>
</div>