<% if @recipe.errors.any? %>
  <div class="row">
    <div class="alert col-md-12">
      <a class="close" data-dismiss="alert">&#215;</a>
      <ul class="errors text-center">
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Create a Recipe</h1>
    <hr />
    
    <div class="well">
      <%= render 'form' %>
    </div>
  </div>
</div>