<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="home jumbotron text-center container">
      <h1>Welcome to Spectral</h1>
      <h2>
        Vaporware snackwave chartreuse etsy locavore 
      </h2>

  <%= link_to 'Sign Up', '#', class: 'btn btn-primary btn-lg' %>
</div>
  </div>
</div>
