<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="home jumbotron text-center">
      <h1>Spectral</h1>
      <h2>
        Quick Recipes & Easy Meal Ideas
      </h2>
  <% if logged_in? %>
    <%= link_to 'New Recipe', new_recipe_path, class: 'btn btn-primary btn-lg' %>
  <% else %>
    <%= link_to 'Sign Up', register_path, class: 'btn btn-primary btn-lg' %>
  <% end %>
    </div>
  </div>
</div>

<div class="row" id="info">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="col-lg-6 text-center">
    <h2>Browse as Guest</h2>
    <h4>Browse recipe listings as a guest and sign up later for more features and interaction.</h4>
    <p><%= link_to 'Recipes Index', recipes_path, class: 'btn btn-success info-btn' %></p>
  </div>
  <div class="col-lg-6 text-center">
    <h2>Browse as Guest</h2>
    <h4>Browse chef listings as a guest and sign up later for more features and interaction</h4>
    <p><%= link_to 'Chefs Index', chefs_path, class: 'btn btn-success info-btn' %></p>
  </div>
  </div>
  
</div>
  