<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="home jumbotron text-center">
        <h1>Welcome to Spectral</h1>
        <h2>
          Vaporware snackwave chartreuse etsy locavore 
        </h2>
  
    <%= link_to 'Sign Up', '#', class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  </div>
  
  <div class="row" id="info">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="col-lg-4">
      <h2 class="text-center">Vaporware</h2>
      <h3>Vaporware Vaporware Vaporware </h3>
      <p class="text-center"><%= link_to 'Link', '#', class: 'btn btn-success info-btn' %></p>
    </div>
    <div class="col-lg-4">
      <h2 class="text-center">Vaporware</h2>
      <h3>Vaporware Vaporware Vaporware </h3>
      <p class="text-center"><%= link_to 'Link', '#', class: 'btn btn-success info-btn' %></p>
    </div>
    <div class="col-lg-4">
      <h2 class="text-center">Vaporware</h2>
      <h3>Vaporware Vaporware Vaporware </h3>
      <p class="text-center"><%= link_to 'Link', '#', class: 'btn btn-success info-btn' %></p>
    </div>
    </div>
    
  </div>

</div> 
  