@import url('//fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');

* {
  margin: 0;
  padding: 0;
}

html,body,#page, header { 
  height:100%;
}
/* FOOTER HEIGHT */
footer { 
  position:absolute;
  bottom:0;
}

$font-family-base: 'Josefin Sans', sans-serif;

$navbar-default-bg: #181842;
$navbar-default-link-color: #ffffff;
$navbar-default-toggle-icon-bar-bg: #ffffff;
$navbar-default-toggle-hover-bg: #d3e0f7;
$navbar-default-link-hover-color: #d3e0f7;
$dropdown-link-color: #181842;
$dropdown-link-hover-color: #ffffff;
$dropdown-link-hover-bg: #181842;
$component-active-bg: #181842;
$jumbotron-bg: #d3e0f7;
$well-bg: #d3e0f7;
$well-border: #ffffff;
$btn-default-bg: #ffffff;
$btn-default-color: #181842;
$btn-primary-bg: #181842;
$btn-primary-color: #f4f5f9;
$btn-info-bg: #005f6b;
$btn-info-color: #ffffff;
$btn-success-bg: #004e66;
$btn-success-color: #F8FAFF;
$btn-warning-bg: #a6172d;
$btn-warning-color: #ffffff;
$label-primary-bg: #181842;
$label-success-bg: #004e66;
$label-color: #ffffff;
$label-link-hover-color: #ffffff;



@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
  background-color: #ffffff;
  color: #181842;
  font-size: 1.4em;
}


// Navbar

.navbar-default {
  padding: 5px 20px;
}
.navbar-default .navbar-nav > li > a {
  font-size: 1.5em;
}

.navbar-default .navbar-nav > a, 
.navbar-default .navbar-nav > a:hover, 
.navbar-default .navbar-nav > a:focus {
  background-color: #181842;
  color: #d3e0f7;
}

#logo {
  font-size: 1.6em;
  font-weight: 600;
  padding-top: 7px;
}

.navbar-brand {
  padding: 5px 25px;
  padding-left: 10px;
  letter-spacing: 2px;
}

#logo:hover {
  background-color: transparent;
  color: #ffffff;
}

.navbar-brand > img {
  display: inline;
  height: 40px;
  width: 40px;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #181842;
  color: #ffffff;
}

// Buttons

.btn-lg {
  font-size: 1.8em;
  margin-top: 10px;
  margin-bottom: 5px;
}

.edit-btn {
  margin-right: 10px;
}

// Home

.jumbotron {
	max-width: 2400px;
	min-height: 430px;
	margin: 10px auto;
	padding-top: 50px;
	padding-bottom: 20px;
	background-image:url('spectral-bgd.jpg');
  background-size: 100%;
}

.jumbotron h1, .jumbotron .h1 {
  color: #ffffff;
  font-size: 3.5em;
  padding-top: 15px;
  font-weight: 700;
  text-shadow: 4px 4px #181842;
}

.jumbotron h2, .jumbotron .h2 {
  color: #181842;
  padding-top: 10px;
  font-size: 3em;
  font-weight: 600;
  text-shadow: 1px 1px #ffffff;
}

#signup {
  margin-top: 30px;
  margin-bottom: 30px;

}

#info {
  margin-top: 20px;
}

.info-btn {
  font-size: 1.4em;
  padding: 6px 25px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
}


//  Footer credits pill

footer a:hover {
  color: #a6172d;
}

footer ul {
  float: right;
  list-style: none;
}

.nav-pills {
  background-color: #181842;
}

.nav-pills > li > a:hover {
  border-radius: 0;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #ffffff;
  border-radius: 0;
}

.nav > li > a#by-tab {
  padding: 5px 10px;
}

a#by-tab {
  color: #ffffff;
}

a#by-tab:hover {
  color: #181842;
}

// index

.well {
  padding: 15px;
}

.chef-info {
  padding: 15px;
  padding-right: 25px;
  margin-top: 10px;
  padding-top: 3px;
}

.gravatar {
  border-radius: 10px;
}

.well {
  border-radius: 10px;
}

.recipe-info {
  margin-top: 10px;
  padding: 15px;
  padding-left: 30px;
}

img.index-img.gravatar {
  margin-top: 5px;
  margin-bottom: -70px;
}

img.show-img.gravatar {
  margin-top: 5px;
  margin-bottom: 10px;
}

// alert
.alert {
  margin-top: -19px;
  border-radius: 0px;
}

.errors {
  list-style: none;
}

// Pagination
.pagination > li > a, .pagination > li > span {
  color: #181842;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #181842;
  border-color: #181842;
}


// Labels

#style-label, #ingredient-label {
  color: #ffffff;
  letter-spacing: 1px;
}
