<div class="container">
  <footer class="navbar-fixed-bottom footer">
    <nav>
      <ul class="nav nav-pills">
        <li>
          <%= link_to 'made by | faisal', "http://faisalhassanx.bitbucket.io/", 
                                          target: "_blank", id: "by-tab" %>
        </li>
      </ul>
    </nav>
  </footer>
</div>